.quadrado {
  width: 250px;
  height: 250px;
  display: inline-block;
  border: 20px solid black;
  border-radius: 30px;
  background-color: #d2d2d2;
  font-size: 32px;
  text-align: center;
  padding-top: 82px;
}